<!-- Header -->
<div class="header">
  <div style="width: 1160px; height: 300px;">
      <carousel [sources]="imageSources" [config]="config"></carousel>
      
    </div>
    
</div>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="../../assets/images/hiking.jpg" style="width:100%">
    <div class="img-text">Travelling</div>    
     <!--<img src="../../assets/images/2.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%"> -->
  </div>
  <div class="column">
    <img src="../../assets/images/hiking.jpg" style="width:100%">
    <div class="img-text">Hiking</div>
    <!-- <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%"> -->
  </div>  
  <div class="column">
    <img src="../../assets/images/hiking.jpg" style="width:100%">
    <div class="img-text">Educational</div>
  <!--   <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%"> -->
  </div>
  <div class="column">
    <img src="../../assets/images/hiking.jpg" style="width:100%">
    <div class="img-text">Camping</div>
    <!-- <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%">
    <img src="../../assets/images/brief-garden-sri-lanka.jpg" style="width:100%"> -->
  </div>
</div>
