<div style="height: 90vh">
  <div class="col-lg-4 animated fadeIn h-center v-center">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Login to Blink</h4>
        <strong>E-mail</strong>
        <input [(ngModel)]="username" type="email" class="form-control"/>

        <strong>Password</strong>
        <input [(ngModel)]="password" type="password" class="form-control"/>
        <br/>
        <button type="button" class="btn btn-secondary pull-right" (click)="login()" >Login</button>
      </div>
    </div>
  </div> 
</div>

